@page "/test"

<PageTitle>TEST</PageTitle>

<h1>TEST</h1>

<p role="status">Current count: @testCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int testCount = 0;

    private void IncrementCount()
    {
        testCount++;
    }
}
